.row {
    max-width: $grid-width;
    margin: 0 auto;
    background-color: #dbdbdb;
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    &::after {
        content: "";
        display: table;
        clear: both;
    }
    [class^="col-"] {
        background-color: orangered;
        float: left;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
    .col-1-of-12 {
        width: col-width(1, 12);
    }
    .col-2-of-12 {
        width: col-width(2, 12);
    }
    .col-3-of-12 {
        width: col-width(3, 12);
    }
    .col-4-of-12 {
        width: col-width(4, 12);
    }
    .col-5-of-12 {
        width: col-width(5, 12);
    }
    .col-6-of-12 {
        width: col-width(6, 12);
    }
    .col-7-of-12 {
        width: col-width(7, 12);
    }
    .col-8-of-12 {
        width: col-width(8, 12);
    }
    .col-9-of-12 {
        width: col-width(9, 12);
    }
    .col-10-of-12 {
        width: col-width(10, 12);
    }
    .col-11-of-12 {
        width: col-width(11, 12);
    }
}